<div
  {{did-insert this.loadMessages @channel}}
  {{did-update this.loadMessages @channel}} role="list"
  class="flex flex-col"
>
  {{yield
    this.messages
    (hash
      createMessage=this.createMessage
    )
  }}
</div>