<main class="flex-1 flex flex-col bg-white overflow-hidden channel">
  <Channel::Header
    @title={{this.model.name}}
    @description={{this.model.description}}
  />

  <ChannelContainer @channel={{this.model}} as |messages|>
    {{#each messages as |message|}}
      <Channel::Message @message={{message}} />
    {{/each}}
  </ChannelContainer>
  <Channel::Footer />
</main>